<%- include('partials/Header') %>

    <main class="font-[Onest]">
      <%- include('partials/menu') %>
     
      <!-- Blog Tourista -->
      <section>
        <div class="grid grid-cols-1 gap-2 my-20">
          
          <div class="flex flex-col">
            <div class="md:py-30 mt-10 flex justify-start px-10 py-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24" fill="none" stroke="#8A52BA" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-grip -mt-4" opacity="0.16">
                <circle cx="12" cy="5" r="1" />
                <circle cx="19" cy="5" r="1" />
                <circle cx="5" cy="5" r="1" />
                <circle cx="12" cy="12" r="1" />
                <circle cx="19" cy="12" r="1" />
                <circle cx="5" cy="12" r="1" />
                <circle cx="12" cy="19" r="1" />
                <circle cx="19" cy="19" r="1" />
                <circle cx="5" cy="19" r="1" />
              </svg>
              <h1 class="-ml-11 mt-5 text-3xl font-bold md:text-4xl"><%= blog[0].title %></h1>
            </div>
            <div class="p-12 flex items-center justify-center">
                <img src="<%= blog[0].header_image %>" alt="<%= blog[0].header_image_alt %>" class="rounded-2xl shadow" />
            </div>
            <div class="px-14 py-4">
              <p class="md:font-medium"><%- blog[0].post %></p>
            </div>

            <div class="px-14 py-4">
                <p class="md:font-bold">Tourista Offers:</p>
              </div>
            <div class="flex flex-col px-14 pt-4 pb-1">
              <div class="flex py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send text-purple-500">
                  <path d="m22 2-7 20-4-9-9-4Z" />
                  <path d="M22 2 11 13" />
                </svg>
                <h1 class="px-4 md:text-lg font-semibold text-gray-700">Expert Guidance</h1>
              </div>
              <div class="flex py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-fast-forward text-purple-500"><polygon points="13 19 22 12 13 5 13 19"/><polygon points="2 19 11 12 2 5 2 19"/></svg>
                <h1 class="px-4 md:text-lg font-semibold text-gray-700">Faster visa approval</h1>
              </div>
              <div class="flex py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkles text-purple-500"><path d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"/><path d="M5 3v4"/><path d="M19 17v4"/><path d="M3 5h4"/><path d="M17 19h4"/></svg>
                <h1 class="px-4 md:text-lg font-semibold text-gray-700">Innovation</h1>
              </div>
              <div class="flex py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart text-purple-500"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>
                <h1 class="px-4 md:text-lg font-semibold text-gray-700">User Satisfaction</h1>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Blog End -->



      <!-- Bottom Starts -->
      <%- include('partials/Bottom') %>
      <!-- Bottom Ends -->
    </main>

<script src="public/js/home.js"></script>
<%- include('partials/Footer') %>

