<%- include('partials/Header') %>

    <main class="font-[Onest]">
      <%- include('partials/menu') %>
     
      <!-- About Tourista -->
      <section>
        <div class="grid grid-cols-1 gap-2 md:grid-cols-2 my-10">
          <div class="p-12">
            <img src="/public/images/c36a28cb-2e6d-4a49-b7f8-15624693dcb3_2.webp" alt="make worry free travel plans" class="rounded-2xl shadow" />
          </div>
          <div class="flex flex-col">
            <div class="md:py-30 mt-10 flex justify-start px-10 py-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24" fill="none" stroke="#8A52BA" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-grip -mt-4" opacity="0.16">
                <circle cx="12" cy="5" r="1" />
                <circle cx="19" cy="5" r="1" />
                <circle cx="5" cy="5" r="1" />
                <circle cx="12" cy="12" r="1" />
                <circle cx="19" cy="12" r="1" />
                <circle cx="5" cy="12" r="1" />
                <circle cx="12" cy="19" r="1" />
                <circle cx="19" cy="19" r="1" />
                <circle cx="5" cy="19" r="1" />
              </svg>
              <h1 class="-ml-11 mt-5 text-3xl font-bold md:text-4xl">Travel Confidently</h1>
            </div>
            <div class="px-14 py-4">
              <p class="md:font-medium">Visa processing in Bangladesh can sometimes be a bit challenging. More than 50 countries have embassies or visa application centers here, but many require applicants to submit their documents in person. Some embassies do allow authorized representatives to handle the process on behalf of the applicant. In such cases, Tourista steps in to make things easier. They handle the submission for you, provided the embassy permits it, simplifying the entire visa application procedure. Tourista ensures a smooth and hassle-free process, so you can focus on other travel plans while they take care of the paperwork.</p>
            </div>
            <div class="flex flex-col px-14 py-4">
              <div class="flex py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send text-purple-500">
                  <path d="m22 2-7 20-4-9-9-4Z" />
                  <path d="M22 2 11 13" />
                </svg>
                <h1 class="px-4 md:text-lg font-semibold text-gray-700">Expert Guidance</h1>
              </div>
              <div class="flex py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-fast-forward text-purple-500"><polygon points="13 19 22 12 13 5 13 19"/><polygon points="2 19 11 12 2 5 2 19"/></svg>
                <h1 class="px-4 md:text-lg font-semibold text-gray-700">Faster visa approval</h1>
              </div>
              <div class="flex py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkles text-purple-500"><path d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"/><path d="M5 3v4"/><path d="M19 17v4"/><path d="M3 5h4"/><path d="M17 19h4"/></svg>
                <h1 class="px-4 md:text-lg font-semibold text-gray-700">Innovation</h1>
              </div>
              <div class="flex py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart text-purple-500"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>
                <h1 class="px-4 md:text-lg font-semibold text-gray-700">User Satisfaction</h1>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Why Tourista End -->

      <div class="w-full text-center mb-16">
        
        <div class="bg-[#f0d8f9] text-black py-8">
          <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-center">
            
            <!-- Visa Applicants -->
            <div>
              <h2 class="text-4xl font-bold">4,00+</h2>
              <p class="mt-2">Visa Applicants</p>
            </div>
            
            <!-- Service Providing Countries -->
            <div>
              <h2 class="text-4xl font-bold">18+</h2>
              <p class="mt-2">Service Providing Countries</p>
            </div>
            
            <!-- Working Since -->
            <div>
              <h2 class="text-4xl font-bold">2023</h2>
              <p class="mt-2">Working Since</p>
            </div>
          </div>
          
          <!-- Reviews Section -->
          <div class="flex justify-center space-x-6 mt-8 ">
            <div class="flex items-center space-x-2">
              <img src="/public/img/tourista_icon.png" alt="Tourista Review" class="w-6">
              <p>Review <span class="font-bold">4.9</span></p>
            </div>
            <div class="flex items-center space-x-2">
              <img src="/public/img/package.png" alt="Facebook Review" class="w-6">
              <p>Review <span class="font-bold">5</span></p>
            </div>
            <div class="flex items-center space-x-2">
              <img src="/public/img/google-icon.png" alt="Google Review" class="w-6">
              <p>Review <span class="font-bold">4.3</span></p>
            </div>
          </div>
        </div>
        
      </div>

      <div class="max-w-xl mx-auto text-center mb-16 pt-20">
        
        <h3 class="font-heading mb-6 text-4xl font-semibold">Why Choose Tourista for Visa Processing in Bangladesh</h3>
        <p class="text-base text-gray-500 font-medium">Customers should choose Tourista for visa processing in Bangladesh because the company offers a hassle-free, efficient service that simplifies the entire visa application process. They take care of all the paperwork, saving applicants time and stress. With an experienced team, Tourista handles visa applications for multiple countries, ensuring that clients have personalized support throughout. As authorized representatives, they can submit applications on behalf of customers when embassies permit it. Since 2023, Tourista has built a trusted reputation, offering reliable, customer-centric solutions, backed by positive reviews and global service reach.</p>
      </div>



      <div class="mx-auto text-center mb-16 pt-20">
        
        <h3 class="font-heading mb-6 text-4xl font-semibold">Benefits of Getting This Service From Tourista</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 max-w-7xl mx-auto">
          <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center mb-3">
              <img src="/public/img/tourista_icon.png" alt="Tourista Icon" class="w-4 h-4 mr-2">
              <h4 class="text-xl font-semibold">Expert Guidance</h4>
            </div>
            <p class="text-gray-600">Our experienced professionals provide personalized assistance throughout the visa application process.</p>
          </div>
          <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center mb-3">
              <img src="/public/img/tourista_icon.png" alt="Tourista Icon" class="w-4 h-4 mr-2">
              <h4 class="text-xl font-semibold">Time-Saving</h4>
            </div>
            <p class="text-gray-600">We handle all paperwork, allowing you to focus on planning your trip rather than complex procedures.</p>
          </div>
          <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center mb-3">
              <img src="/public/img/tourista_icon.png" alt="Tourista Icon" class="w-4 h-4 mr-2">
              <h4 class="text-xl font-semibold">Up-to-Date Information</h4>
            </div>
            <p class="text-gray-600">We stay current with the latest visa requirements, ensuring your application meets all necessary criteria.</p>
          </div>
          <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center mb-3">
              <img src="/public/img/tourista_icon.png" alt="Tourista Icon" class="w-4 h-4 mr-2">
              <h4 class="text-xl font-semibold">Streamlined Process</h4>
            </div>
            <p class="text-gray-600">Our efficient system simplifies the visa application, reducing stress and improving success rates.</p>
          </div>
          <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center mb-3">
              <img src="/public/img/tourista_icon.png" alt="Tourista Icon" class="w-4 h-4 mr-2">
              <h4 class="text-xl font-semibold">Multiple Country Support</h4>
            </div>
            <p class="text-gray-600">We offer visa processing services for a wide range of countries, catering to diverse travel needs.</p>
          </div>
          <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center mb-3">
              <img src="/public/img/tourista_icon.png" alt="Tourista Icon" class="w-4 h-4 mr-2">
              <h4 class="text-xl font-semibold">Customer-Centric Approach</h4>
            </div>
            <p class="text-gray-600">Our dedicated support team ensures a smooth experience from application to approval.</p>
          </div>
          <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center mb-3">
              <img src="/public/img/tourista_icon.png" alt="Tourista Icon" class="w-4 h-4 mr-2">
              <h4 class="text-xl font-semibold">Trusted Reputation</h4>
            </div>
            <p class="text-gray-600">With positive reviews and a track record of success, we're a reliable choice for visa processing.</p>
          </div>
          <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center mb-3">
              <img src="/public/img/tourista_icon.png" alt="Tourista Icon" class="w-4 h-4 mr-2">
              <h4 class="text-xl font-semibold">Affordable Services</h4>
            </div>
            <p class="text-gray-600">We offer competitive pricing without compromising on the quality of our visa processing services.</p>
          </div>
        </div>
      </div>
      <%- include('partials/contact') %>
      <!-- Bottom Starts -->
      <%- include('partials/Bottom') %>
      <!-- Bottom Ends -->
    </main>

<script src="public/js/home.js"></script>
<%- include('partials/Footer') %>

